// AZUL
$azure-radiance:  #009EF2;
$azure:           #395FA2;
$blue-zodiac:     #123352;
$bright-turquoise:#00C5FE;
$cerulean:        #109ad8;
$lochmara:        #0784C7;

//VERDE
$emerald:         #4ECD4E;

// CINZA
$athens-gray:     #F9FAFB;
$gallery:         #EEEEEE;
$tundora:         #444444;
$silver-chalice:  #a1a1a1;

// LARANJA
$sea-buckthorn:   #F89F3A;