@import 'mixins';
@import 'fonts';
@import 'colors';
@import 'header';
@import 'footer';

img{
  max-width: 100%;
}

body{
  background-color: $silver-chalice;
}

html, body {
  height: 100%;
  margin: 0; padding: 0;  /* to avoid scrollbars */
}

.PageWrapper {
  display: flex;  /* use the flex model */
  flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100%;
  overflow: hidden;
}

.PageContent{
	flex: 1;
}

body{
  &.overflowHidden{
    overflow: hidden;
  }
}

.Banner{
  background-image: url(../img/banner.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
  position: relative;
  padding-top: 100px;
  text-align: center;

  @include MQ(M){
    height: 960px;
  }

  &-content{
    @include center(x);
    bottom: 10%;
    max-width: 970px;
    position: absolute;
    width: 100%;

    @include MQ(S){
      bottom: 130px;
    }
  }

  h1{
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.2px;
    margin: 0 auto;
    font-weight: bold;
    max-width: 85%;

    @include MQ(S){
      font-size: 42px;
    }

    @include MQ(M){
      font-size: 60px;
      max-width: 100%;
    }
  }

  .u-button{
    margin-top: 30px;
    padding: 14px 60px;

    @include MQ(S){
      font-size: 24px;
      padding: 20px 80px;
    }

    @include MQ(M){
      margin-top: 120px;
    }
  }
}
